CumulusTestManager/WebContent/WEB-INF/services/TestingCommunicator/META-INF/TestingCommunicator.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://certificationcommunicator.cumulus.eu" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xsd="http://certificationcommunicator.cumulus.eu" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/">
  <wsdl:types>
    <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://certificationcommunicator.cumulus.eu">
            <xs:element name="getCertificatesSummary_Testing">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificatesSummary_TestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificates_Testing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="SecProp" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="TOC" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="certStatus" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificates_TestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
  </wsdl:types>
  <wsdl:message name="getCertificates_TestingRequest">
    <wsdl:part name="parameters" element="xsd:getCertificates_Testing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificatesSummary_TestingResponse">
    <wsdl:part name="parameters" element="xsd:getCertificatesSummary_TestingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificatesSummary_TestingRequest">
    <wsdl:part name="parameters" element="xsd:getCertificatesSummary_Testing">
    </wsdl:part>
  </wsdl:message>
  <wsdl:message name="getCertificates_TestingResponse">
    <wsdl:part name="parameters" element="xsd:getCertificates_TestingResponse">
    </wsdl:part>
  </wsdl:message>
  <wsdl:portType name="TestingCommunicatorPortType">
    <wsdl:operation name="getCertificatesSummary_Testing">
      <wsdl:input message="xsd:getCertificatesSummary_TestingRequest" wsaw:Action="urn:getCertificatesSummary_Testing">
    </wsdl:input>
      <wsdl:output message="xsd:getCertificatesSummary_TestingResponse" wsaw:Action="urn:getCertificatesSummary_TestingResponse">
    </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificates_Testing">
      <wsdl:input message="xsd:getCertificates_TestingRequest" wsaw:Action="urn:getCertificates_Testing">
    </wsdl:input>
      <wsdl:output message="xsd:getCertificates_TestingResponse" wsaw:Action="urn:getCertificates_TestingResponse">
    </wsdl:output>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="TestingCommunicatorSoap11Binding" type="xsd:TestingCommunicatorPortType">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCertificatesSummary_Testing">
      <soap:operation soapAction="urn:getCertificatesSummary_Testing" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificates_Testing">
      <soap:operation soapAction="urn:getCertificates_Testing" style="document"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestingCommunicatorSoap12Binding" type="xsd:TestingCommunicatorPortType">
    <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="getCertificatesSummary_Testing">
      <soap12:operation soapAction="urn:getCertificatesSummary_Testing" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificates_Testing">
      <soap12:operation soapAction="urn:getCertificates_Testing" style="document"/>
      <wsdl:input>
        <soap12:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="TestingCommunicatorHttpBinding" type="xsd:TestingCommunicatorPortType">
    <http:binding verb="POST"/>
    <wsdl:operation name="getCertificatesSummary_Testing">
      <http:operation location="getCertificatesSummary_Testing"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getCertificates_Testing">
      <http:operation location="getCertificates_Testing"/>
      <wsdl:input>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:input>
      <wsdl:output>
        <mime:content part="parameters" type="application/xml"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="TestingCommunicator">
    <wsdl:port name="TestingCommunicatorHttpSoap12Endpoint" binding="xsd:TestingCommunicatorSoap12Binding">
      <soap12:address location="http://localhost:8080/axis2/services/TestingCommunicator"/>
    </wsdl:port>
    <wsdl:port name="TestingCommunicatorHttpEndpoint" binding="xsd:TestingCommunicatorHttpBinding">
      <http:address location="http://localhost:8080/axis2/services/TestingCommunicator"/>
    </wsdl:port>
    <wsdl:port name="TestingCommunicatorHttpSoap11Endpoint" binding="xsd:TestingCommunicatorSoap11Binding">
      <soap:address location="http://localhost:8080/axis2/services/TestingCommunicator"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
