testManager/testManager/WebContent/wsdl/ManagementInterfaceImpl.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://ServiceInterface.cumulus.eu" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://ServiceInterface.cumulus.eu" xmlns:intf="http://ServiceInterface.cumulus.eu" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://ServiceInterface.cumulus.eu" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="addCm_Testing">
    <complexType>
     <sequence>
      <element name="addCm_TestingParam" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="addCm_TestingResponse">
    <complexType>
     <sequence>
      <element name="addCm_TestingReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCm_Testing">
    <complexType>
     <sequence>
      <element name="deleteCm_Testing" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="deleteCm_TestingResponse">
    <complexType>
     <sequence>
      <element name="deleteCm_TestingReturn" type="xsd:boolean"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="addCm_TestingResponse">

      <wsdl:part element="impl:addCm_TestingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="addCm_TestingRequest">

      <wsdl:part element="impl:addCm_Testing" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCm_TestingResponse">

      <wsdl:part element="impl:deleteCm_TestingResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="deleteCm_TestingRequest">

      <wsdl:part element="impl:deleteCm_Testing" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ManagementInterfaceImpl">

      <wsdl:operation name="addCm_Testing">

         <wsdl:input message="impl:addCm_TestingRequest" name="addCm_TestingRequest">

       </wsdl:input>

         <wsdl:output message="impl:addCm_TestingResponse" name="addCm_TestingResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCm_Testing">

         <wsdl:input message="impl:deleteCm_TestingRequest" name="deleteCm_TestingRequest">

       </wsdl:input>

         <wsdl:output message="impl:deleteCm_TestingResponse" name="deleteCm_TestingResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ManagementInterfaceImplSoapBinding" type="impl:ManagementInterfaceImpl">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="addCm_Testing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="addCm_TestingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="addCm_TestingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="deleteCm_Testing">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="deleteCm_TestingRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="deleteCm_TestingResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ManagementInterfaceImplService">

      <wsdl:port binding="impl:ManagementInterfaceImplSoapBinding" name="ManagementInterfaceImpl">

         <wsdlsoap:address location="http://localhost:8080/CumlusestManager/services/ManagementInterfaceImpl"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
