CumulusTestManager/WebContent/wsdl/TestManagerInterface.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:ns="http://testingpkg.cumulus.eu" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://testingpkg.cumulus.eu">
    <wsdl:documentation>
		Please Type your service description here
	</wsdl:documentation>
    <wsdl:types>
        <xs:schema attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://testingpkg.cumulus.eu">
            <xs:element name="requestCertificate_Testing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CertificationModel" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="requestCertificate_TestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:int"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPropertyAndTOCsTesting">
                <xs:complexType>
                    <xs:sequence/>
                </xs:complexType>
            </xs:element>
            <xs:element name="getPropertyAndTOCsTestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificationModelsTesting">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="Category" nillable="true" type="xs:string"/>
                        <xs:element minOccurs="0" name="TOC_ID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="getCertificationModelsTestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element maxOccurs="unbounded" minOccurs="0" name="return" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCm_Testing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CM_ID" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="deleteCm_TestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCm_Testing">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="CM" nillable="true" type="xs:string"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="addCm_TestingResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:boolean"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="getCertificationModelsTestingRequest">
        <wsdl:part name="parameters" element="ns:getCertificationModelsTesting"/>
    </wsdl:message>
    <wsdl:message name="getCertificationModelsTestingResponse">
        <wsdl:part name="parameters" element="ns:getCertificationModelsTestingResponse"/>
    </wsdl:message>
    <wsdl:message name="addCm_TestingRequest">
        <wsdl:part name="parameters" element="ns:addCm_Testing"/>
    </wsdl:message>
    <wsdl:message name="addCm_TestingResponse">
        <wsdl:part name="parameters" element="ns:addCm_TestingResponse"/>
    </wsdl:message>
    <wsdl:message name="getPropertyAndTOCsTestingRequest">
        <wsdl:part name="parameters" element="ns:getPropertyAndTOCsTesting"/>
    </wsdl:message>
    <wsdl:message name="getPropertyAndTOCsTestingResponse">
        <wsdl:part name="parameters" element="ns:getPropertyAndTOCsTestingResponse"/>
    </wsdl:message>
    <wsdl:message name="deleteCm_TestingRequest">
        <wsdl:part name="parameters" element="ns:deleteCm_Testing"/>
    </wsdl:message>
    <wsdl:message name="deleteCm_TestingResponse">
        <wsdl:part name="parameters" element="ns:deleteCm_TestingResponse"/>
    </wsdl:message>
    <wsdl:message name="requestCertificate_TestingRequest">
        <wsdl:part name="parameters" element="ns:requestCertificate_Testing"/>
    </wsdl:message>
    <wsdl:message name="requestCertificate_TestingResponse">
        <wsdl:part name="parameters" element="ns:requestCertificate_TestingResponse"/>
    </wsdl:message>
    <wsdl:portType name="TestManagerInterfacePortType">
        <wsdl:operation name="getCertificationModelsTesting">
            <wsdl:input message="ns:getCertificationModelsTestingRequest" wsaw:Action="urn:getCertificationModelsTesting"/>
            <wsdl:output message="ns:getCertificationModelsTestingResponse" wsaw:Action="urn:getCertificationModelsTestingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="addCm_Testing">
            <wsdl:input message="ns:addCm_TestingRequest" wsaw:Action="urn:addCm_Testing"/>
            <wsdl:output message="ns:addCm_TestingResponse" wsaw:Action="urn:addCm_TestingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="getPropertyAndTOCsTesting">
            <wsdl:input message="ns:getPropertyAndTOCsTestingRequest" wsaw:Action="urn:getPropertyAndTOCsTesting"/>
            <wsdl:output message="ns:getPropertyAndTOCsTestingResponse" wsaw:Action="urn:getPropertyAndTOCsTestingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="deleteCm_Testing">
            <wsdl:input message="ns:deleteCm_TestingRequest" wsaw:Action="urn:deleteCm_Testing"/>
            <wsdl:output message="ns:deleteCm_TestingResponse" wsaw:Action="urn:deleteCm_TestingResponse"/>
        </wsdl:operation>
        <wsdl:operation name="requestCertificate_Testing">
            <wsdl:input message="ns:requestCertificate_TestingRequest" wsaw:Action="urn:requestCertificate_Testing"/>
            <wsdl:output message="ns:requestCertificate_TestingResponse" wsaw:Action="urn:requestCertificate_TestingResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="TestManagerInterfaceSoap11Binding" type="ns:TestManagerInterfacePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertificationModelsTesting">
            <soap:operation soapAction="urn:getCertificationModelsTesting" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCm_Testing">
            <soap:operation soapAction="urn:addCm_Testing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPropertyAndTOCsTesting">
            <soap:operation soapAction="urn:getPropertyAndTOCsTesting" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCm_Testing">
            <soap:operation soapAction="urn:deleteCm_Testing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestCertificate_Testing">
            <soap:operation soapAction="urn:requestCertificate_Testing" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TestManagerInterfaceSoap12Binding" type="ns:TestManagerInterfacePortType">
        <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
        <wsdl:operation name="getCertificationModelsTesting">
            <soap12:operation soapAction="urn:getCertificationModelsTesting" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCm_Testing">
            <soap12:operation soapAction="urn:addCm_Testing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPropertyAndTOCsTesting">
            <soap12:operation soapAction="urn:getPropertyAndTOCsTesting" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCm_Testing">
            <soap12:operation soapAction="urn:deleteCm_Testing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestCertificate_Testing">
            <soap12:operation soapAction="urn:requestCertificate_Testing" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="TestManagerInterfaceHttpBinding" type="ns:TestManagerInterfacePortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="getCertificationModelsTesting">
            <http:operation location="getCertificationModelsTesting"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="addCm_Testing">
            <http:operation location="addCm_Testing"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="getPropertyAndTOCsTesting">
            <http:operation location="getPropertyAndTOCsTesting"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="deleteCm_Testing">
            <http:operation location="deleteCm_Testing"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="requestCertificate_Testing">
            <http:operation location="requestCertificate_Testing"/>
            <wsdl:input>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content type="application/xml" part="parameters"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="TestManagerInterface">
        <wsdl:port name="TestManagerInterfaceHttpSoap11Endpoint" binding="ns:TestManagerInterfaceSoap11Binding">
            <soap:address location="http://localhost:8080/CumulusTestManager/services/TestManagerInterface.TestManagerInterfaceHttpSoap11Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TestManagerInterfaceHttpSoap12Endpoint" binding="ns:TestManagerInterfaceSoap12Binding">
            <soap12:address location="http://localhost:8080/CumulusTestManager/services/TestManagerInterface.TestManagerInterfaceHttpSoap12Endpoint/"/>
        </wsdl:port>
        <wsdl:port name="TestManagerInterfaceHttpEndpoint" binding="ns:TestManagerInterfaceHttpBinding">
            <http:address location="http://localhost:8080/CumulusTestManager/services/TestManagerInterface.TestManagerInterfaceHttpEndpoint/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
